<nav class="pv3 pt5-l relative">
  <div class="mw8 center ph3 ph5-l flex items-center justify-between">
    <a class="link color-inherit hover-red" href="{{ "/" | relative_url }}">
      <figure class="logo ma0">
        {% include strategy.svg %}
      </figure>
    </a>
    <a class="link red fw6 flex items-center" href="https://github.com/mattrothenberg/prototyping-playbook" target="_blank">
      <span class="h1 w1 mr2">
        {% include octocat.html %}
      </span>
      GitHub
    </a>
  </div>
</nav>
