$red: #E35354;

$colors: (
  'red': $red,
  'washed-red': rgba($red, .10)
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .b--#{$name} {
    border-color: $color;
  }

  .#{$name} {
    color: $color;
  }

  .hover-#{$name}:hover {
    color: $color;
  }
}
